/* NAVBAR STYLES */
.navbar-container {
    background-color: var(--color-dark-blue);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.navbar-link {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
    position: relative;
}

.navbar-link:hover {
    color: var(--color-primary);
    transform: scale(1.05);
}

.navbar-link.active-link {
    color: var(--color-secondary);
}

.btn-logout {
    background-color: var(--color-coral-red);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn-logout:hover {
    background-color: #c9182b; /* un rojo más oscuro */
    transform: scale(1.05);
}

.btn-logout:focus {
    outline: 2px solid var(--color-secondary);
    outline-offset: 2px;
}


/* Responsive para móviles */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}