<div class="navbar-container">
    <nav class="navbar">
        <a class="navbar-link" routerLink="/publicaciones" routerLinkActive="active-link" *ngIf="authService.estaLogueado()">
            Publicaciones
        </a> |
        <a class="navbar-link" routerLink="/perfil" routerLinkActive="active-link" *ngIf="authService.estaLogueado()">
        Mi Perfil
        </a>

        <button 
            class="btn-logout" 
            *ngIf="authService.estaLogueado()" 
            (click)="logout()">
            Cerrar sesión
        </button>
    </nav>
</div>