<div class="publicacion-card" [class.procesando]="procesandoLike">
    <h3 class="titulo">{{ publicacion.titulo }}</h3>
    
    <p class="descripcion">{{ publicacion.descripcion }}</p>
    
    <!-- Imagen opcional -->
    <div *ngIf="publicacion.imagenUrl" class="imagen-container">
        <img *ngIf="publicacion.imagenUrl" [src]="'http://localhost:3000/' + publicacion.imagenUrl" alt="Imagen del post">
    </div>

    <!-- Autor y fecha -->
    <div class="info-publicacion">
        <span class="autor">
        <img *ngIf="publicacion.autor.imagenPerfil" 
            [src]="'http://localhost:3000/' + publicacion.autor.imagenPerfil" 
            alt="Foto perfil" 
            class="foto-perfil" />
        {{ publicacion.autor.username }}
        </span>
        <span class="fecha">{{ publicacion.fechaCreacion | date:'medium' }}</span>
    </div>

    <!-- Likes -->
    <div class="likes-container">
        <button (click)="toggleLike()" 
                [disabled]="procesandoLike"
                [class.liked]="yaDioLike"
                aria-label="Me gusta">
        <span *ngIf="yaDioLike">💖</span>
        <span *ngIf="!yaDioLike">🤍</span>
        {{ publicacion.likes.length }}
        </button>
    </div>
</div>